body {
padding: 20px;
margin: 20px;
background-color: deepskyblue;
color:gold;
font-family: Courier New;
}
button{
    background-color: darkred;
    font-style: italic;
    font-weight: bold;
    border: 2px solid darkred;
    border-radius: 50px 50px 50px 50px;
}
a{
    text-decoration: none;
    color: silver;
}