body {
padding: 20px;
margin: 20px;
background-color: deepskyblue;
color:gold;
font-family: Courier New;
}
button{
    background-color: green;
    border: solid green;
    border-radius: 50px 50px 50px 50px;
}
a{
    text-decoration:none;
    color: white;
}