body {
padding: 20px;
margin: 20px;
background-color: deepskyblue;
color:gold;
font-family: Courier New;
}
footer{
    color:purple;
    background-color:orange;
    font-size:10px;
    margin: 30px;
    border:solid orange;
    border-radius: 0 100px 100px 100px;
}
ul{
    background-color: green;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
li{
    float: left;
}
a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px;
}
li a:hover{
    background-color: white;
}
.active{
    background-color: red;
}
